USE [master]
GO
/****** Object:  Database [StoreDBV2]    Script Date: 10/2/2025 12:11:25 AM ******/
CREATE DATABASE [StoreDBV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreDBV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreDBV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreDBV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreDBV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreDBV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreDBV2]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[ParentCategoryId] [int] NULL,
 CONSTRAINT [PK__Categori__3214EC079FB9ECC2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[Value] [varchar](100) NULL,
	[ExpiryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchemaVersions]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](255) NOT NULL,
	[Applied] [datetime] NOT NULL,
 CONSTRAINT [PK_SchemaVersions_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
	[PasswordHash] [varchar](250) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[AvatarUrl] [varchar](200) NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__3214EC0715DD6D53] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ParentCategoryId]) VALUES (1, N'Electronics', CAST(N'2025-09-29' AS Date), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ParentCategoryId]) VALUES (2, N'Clothing', CAST(N'2025-09-29' AS Date), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ParentCategoryId]) VALUES (3, N'Home & Kitchen', CAST(N'2025-09-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [IsRevoked], [Value], [ExpiryDate]) VALUES (5, 4, 0, N'0qkuRTWv/w5pvVDJ0IM+w99N/qcij2+FEjtrzusRXuxZZmKXezFqQv2o+UsjgUpIOjUuuP+9bDCx2MObnPq/sA==', CAST(N'2025-09-07' AS Date))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [IsRevoked], [Value], [ExpiryDate]) VALUES (6, 4, 0, N'D3y35pd971PLF6peBl/J9Y/KoES9mz+3BUsnjLbIF6NGK9UVKGv3A6Bqrd8JJsR3/LdsXaMxFput58+Rn/fgog==', CAST(N'2025-09-07' AS Date))
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [IsRevoked], [Value], [ExpiryDate]) VALUES (1279, 5, 0, N'wTxewpafpbsJHsiX2fj2Zx/uGcJQNbai7y0M6fgoruAC5uaTJsGZTsmyvvbAbCr1capfJW4ZL04QnbeIvLhpkA==', CAST(N'2025-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] ON 

INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (1, N'001_AddUsersAndRefreshToken.sql', CAST(N'2025-08-31T00:04:57.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[SchemaVersions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PhoneNumber], [AvatarUrl], [Role], [CreatedAt], [IsActive]) VALUES (4, N'Sheriff', N'Ali', N'admin@gmail.com', N'5A6B6F87F3E43490F4FDB7D28FA5FE4B89A8FFB3C76B285DAA0E6698FD9F291A-E4F2FB1EBD8D3E0C02D4A9E66B779E91', N'01212232398', N'cedac14d-6594-4609-bccd-85d741e8f6cc.jpeg', 8, CAST(N'2025-08-31' AS Date), 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PhoneNumber], [AvatarUrl], [Role], [CreatedAt], [IsActive]) VALUES (5, N'Hamada', N'Ibrahim', N'hamada@gmail.com', N'B755FFA02A29BB3736066EF492A44F2C74BBA21F6DDDC048507C731D681E859A-9A0D4D767D90449970548BEAC53EE0CD', N'01212232365', N'77e77dc4-486e-40b1-8874-42472d9b7074.jpg', 8, CAST(N'2025-09-26' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [idx_ParentCategoyId]    Script Date: 10/2/2025 12:11:26 AM ******/
CREATE NONCLUSTERED INDEX [idx_ParentCategoyId] ON [dbo].[Categories]
(
	[ParentCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349ABCDC4C]    Script Date: 10/2/2025 12:11:26 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D105349ABCDC4C] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK__Categorie__Paren__4D94879B] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK__Categorie__Paren__4D94879B]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK__RefreshTo__Expir__3C69FB99] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK__RefreshTo__Expir__3C69FB99]
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Add]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Add]
	@Name NVARCHAR(50),
	@CreatedAt DATE,
	@ParentCategoryId INT,
	@Id INT OUTPUT
AS
BEGIN
	INSERT INTO Categories (Name, CreatedAt, ParentCategoryId)
	VALUES(@Name, @CreatedAt, @ParentCategoryId)

	SET @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Delete]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Delete]
	@Id INT
AS
BEGIN
	DELETE Categories
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_GetAll]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_GetAll]
AS
BEGIN
	SELECT * FROM Categories; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_GetById]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_GetById]
	@Id INT
AS
BEGIN

WITH Root AS(
	SELECT * FROM Categories
	WHERE Id = @Id

	UNION ALL

	SELECT sub.Id,
		   sub.Name,
		   sub.IsActive,
		   sub.CreatedAt,
		   sub.ParentCategoryId
	FROM Categories AS sub
	INNER JOIN Root ON sub.ParentCategoryId = Root.Id

)
SELECT * FROM Root
ORDER BY ParentCategoryId;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Category_Update]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Category_Update]
	@Id INT,
	@Name NVARCHAR(50),
	@CreatedAt DATE,
	@ParentCategoryId INT
AS
BEGIN
	UPDATE Categories 
	SET Name = @Name,
	CreatedAt = CreatedAt,
	ParentCategoryId = @ParentCategoryId
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RefreshToken_Add]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RefreshToken_Add]
	@UserId INT,
	@IsRevoked BIT,
	@Value VARCHAR(100),
	@ExpiryDate DATE,
	@Id INT OUTPUT
AS
BEGIN
	INSERT INTO RefreshTokens (UserId, IsRevoked, Value, ExpiryDate)
	VALUES (@UserId, @IsRevoked, @Value, @ExpiryDate);

	SET @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RefreshToken_GetByValue]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RefreshToken_GetByValue]
	@Value VARCHAR(100)
AS
BEGIN
	SELECT * FROM RefreshTokens WHERE Value = @Value;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RefreshToken_Update]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RefreshToken_Update]
	@Id INT,
	@UserId INT,
	@IsRevoked BIT,
	@Value VARCHAR(100),
	@ExpiryDate DATE
AS
BEGIN
	UPDATE RefreshTokens 
	SET 
	  UserId = @UserId,
	  IsRevoked =@IsRevoked,
	  Value = @Value,
	  ExpiryDate = @ExpiryDate
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Add]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_Add]
	@FirstName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Email VARCHAR(80),
	@PasswordHash VARCHAR(200),
	@PhoneNumber VARCHAR(20) = NULL,
	@AvatarUrl VARCHAR(200),
	@Role INT,
	@CreatedAt DATE,
	@IsActive BIT,
	@Id INT OUTPUT
AS
BEGIN
	INSERT INTO Users (
	  FirstName, LastName,
	  Email, PasswordHash,
	  PhoneNumber, AvatarUrl,
	  Role, CreatedAt,
	  IsActive)
	  VALUES (
	  @FirstName, @LastName,
	  @Email, @PasswordHash,
	  @PhoneNumber, @AvatarUrl,
	  @Role, @CreatedAt,
	  @IsActive)
	
	SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetByEmail]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_GetByEmail]
	@Email VARCHAR(80)
AS
BEGIN
	SELECT * FROM Users WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetById]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_GetById]
	@Id INT
AS
BEGIN
	SELECT * FROM Users WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Update]    Script Date: 10/2/2025 12:11:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_Update]
	@Id INT,
	@FirstName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Email VARCHAR(80),
	@PasswordHash VARCHAR(200),
	@PhoneNumber VARCHAR(20) = NULL,
	@AvatarUrl VARCHAR(200),
	@Role INT,
	@CreatedAt DATE,
	@IsActive BIT
AS
BEGIN
	UPDATE Users 
	SET 
	  FirstName = @FirstName,
	  LastName = @LastName,
	  Email = @Email,
	  PasswordHash = @PasswordHash,
	  PhoneNumber = @PhoneNumber,
	  AvatarUrl = @AvatarUrl,
	  Role = @Role,
	  CreatedAt = @CreatedAt,
	  IsActive = @IsActive
	WHERE Id = @Id;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Integer representing user role: 1 = Customer, 2 = Staff, 3 = Manager, 4 = Admin' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Role'
GO
USE [master]
GO
